.wrapper
	display: flex
	flex-direction: column
	min-height: 100vh
	.header
		height: $header-height
	.content-area
		flex: 1
		+mq(min,1440px)
			display: flex
		.main-cnt
			width: 100%
	.footer
		height: $footer-height

.main-cnt
	h1,h2,h3,h4,h5,h6
		padding-bottom: em(5)
	p 
		font-size: em(24)
	ul 
		list-style: disc
		margin-left: 40px
		padding-bottom: em(20)
		li 
			font-size: em(20)
			line-height: em(25)
			font-weight: 300

	blockquote
		background-color: #f9f9f9
		border-left: 5px solid #444
		padding: em(10)
		margin-bottom: em(20)
		* 
			font-style: italic
		p 
			padding-bottom: 0