.wrapper
	display: flex
	flex-direction: column
	min-height: 100vh
	.header
		height: $header-height
	.content-area
		flex: 1
		+mq(min,1440px)
			display: flex
		.main-cnt
			width: 100%
	.footer
		height: $footer-height

.main-cnt
	h1,h2,h3,h4,h5,h6
		padding-bottom: em(5)
	p 
		font-size: em(24)
	ul 
		list-style: disc
		margin-left: 40px
		padding-bottom: em(20)
		li 
			font-size: em(20)
			line-height: em(25)
			font-weight: 300

	blockquote
		background-color: #fff
		border-left: 5px solid #444
		padding: em(10)
		color: #fb5100
		margin-bottom: em(20)
		* 
			font-style: italic
		p 
			padding-bottom: 0


input[type="text"]
	/* this properties will not apply css for placeholders */
	font-size: 20px  
	padding: 10px 20px
	color: #000
	+placeholders
		/* add properties for placeholders */
		color: red
		font-style: bold


.social-share-box
	width: 100% 
	background-color: #fff
	box-shadow: $box-shadow
	display: flex
	justify-content: center
	align-items: center 
	+mq(min,1440px)
		padding: em(10) 0
	+mq(max,1439px)
		position: fixed
		width: 100%
		left: 0
		bottom: 0
	h4 
		padding-right: em(10)
		font-size: em(14)
		text-transform: uppercase
		text-align: right
.clear-40
	height: 40px
	display: block