<div class="nav">
    <ul>
        <li>
        <a href="/">Home</a>
        </li>
        <li>
            <a href="/tutorial/sass/">SASS</a>
            <div class="sub-nav">
                <ul>
                    <li>
                        <a href="/tutorial/sass/mixins">Recommended Mixins</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="/tutorial/mysql">MySQL</a>
            <div class="sub-nav">
                <ul>
                    <li>
                        <a href="/tutorial/mysql/how-to-create-referral-code-in-mysql">Referral code trick</a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="/tutorial/js">Javascript</a>
            <div class="sub-nav">
                <ul>
                    <li>
                        <a href="/tutorial/js/how-to-creare-random-string-in-javascript">Generate Random String </a>
                    </li>
                </ul>
            </div>
        </li>
        
    </ul>
</div>
<div class="nav-bg"></div>